body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #162831;
    font-size: 14px;
    letter-spacing: 0.03em;
}
address {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
/* header */
.nav-flex{
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .item+.item {
    margin-left: 50px;
}